<nb-card>
    <nb-card-header>
        Seção Sobre Mim
    </nb-card-header>
    <nb-card-body>
        <button nbButton="nbButton" status="success" (click)="voltar()">Voltar</button>
        <form [formGroup]="formSobreMim" (ngSubmit)="salvarFormulario()">
            <div class="form-group">
                <label class="label">Título</label>
                <textarea 
                nbInput 
                fullWidth 
                placeholder="Texto sobre mim"
                rows="10"
                formControlName="texto"
                [(ngModel)]="sobreMim.texto"
                required
                >
                </textarea>
  
            </div>

            <div
                class="msgError"
                *ngIf="formSobreMim.controls.texto.errors?.required
                        && formError">
                Texto requerido
            </div>

            <button nbButton="nbButton" status="success">Atualizar</button>
                
            </form>
        </nb-card-body>
    </nb-card>