<div class="row">

  <div class="col-sm-3">
    <a [routerLink]="['topo']">
        <nb-card>
          <nb-card-header>
            <nb-icon icon="browser-outline"></nb-icon>
            Seção
          </nb-card-header>      <nb-card-body>
            <h3>Topo</h3>
          </nb-card-body>
        </nb-card>
    </a>
  </div>

  <div class="col-sm-3">
    <a [routerLink]="['sobre-mim']">
        <nb-card>
          <nb-card-header>
            <nb-icon icon="browser-outline"></nb-icon>
            Seção
          </nb-card-header>      <nb-card-body>
            <h3>Sobre Mim</h3>
          </nb-card-body>
        </nb-card>
    </a>
  </div>


  <div class="col-sm-3">
    <a [routerLink]="['o-que-faco']">
        <nb-card>
          <nb-card-header>
            <nb-icon icon="browser-outline"></nb-icon>
            Seção
          </nb-card-header>      
          <nb-card-body>
            <h3>O que eu faço</h3>
          </nb-card-body>
        </nb-card>
    </a>
  </div>

  <div class="col-sm-3">
    <nb-card>
      <nb-card-header>
        <nb-icon icon="browser-outline"></nb-icon>
        Seção
      </nb-card-header>      <nb-card-body>
        <h3>Hard Skills</h3>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-sm-3">
    <a [routerLink]="['frase']">
        <nb-card>
          <nb-card-header>
            <nb-icon icon="browser-outline"></nb-icon>
            Seção
          </nb-card-header>      
          <nb-card-body>
            <h3>Frase</h3>
          </nb-card-body>
        </nb-card>
    </a>
  </div>

  <div class="col-sm-3">
    <nb-card>
      <nb-card-header>
        <nb-icon icon="browser-outline"></nb-icon>
        Seção
      </nb-card-header>      <nb-card-body>
        <h3>Serviços</h3>
      </nb-card-body>
    </nb-card>
  </div>


  <div class="col-sm-3">
    <a [routerLink]="['hobby']">
        <nb-card>
          <nb-card-header>
            <nb-icon icon="browser-outline"></nb-icon>
            Seção
          </nb-card-header>      
          <nb-card-body>
            <h3>Hobby</h3>
          </nb-card-body>
        </nb-card>
    </a>
  </div>


  <div class="col-sm-3">
    <nb-card>
      <nb-card-header>
        <nb-icon icon="browser-outline"></nb-icon>
        Seção
      </nb-card-header>
      <nb-card-body>
        <h3>Clientes</h3>
      </nb-card-body>
    </nb-card>
  </div>  


  <div class="col-sm-3">
    <a [routerLink]="['contato']">
        <nb-card>
          <nb-card-header>
            <nb-icon icon="browser-outline"></nb-icon>
            Seção
          </nb-card-header>      
          <nb-card-body>
            <h3>Contato</h3>
          </nb-card-body>
        </nb-card>
    </a>
  </div>
  

</div>







