@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};

a{
  text-decoration: none !important;
}

.form-group {
  padding: 10px 0;

  label {
      display: block;
      padding: 5px;
  }

}

button {
  margin: 10px !important;
}

.msgError {
  font-size: 0.8rem;
  color: #b99a9a;
  padding-left: 5px;
}
